{
  ignore: ["node_modules"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "transform-decorators-legacy"
  ],
  "env":
  {
    "development":
    {
      "presets": [
        ["@babel/preset-env",
        {
          "targets":
          {
            "node": "current"
          }
        }],
        ["@babel/preset-react",
        {
          "development": true,
        }],
      ],
    },
    "production":
    {
      "presets": [
        ["@babel/preset-env",
        {
          "targets":
          {
            "node": "0.8"
          }
        }],
        "@babel/preset-react",
      ],
    },
    "test":
    {
      "plugins": [
        ["__coverage__",
        {
          "ignore": "*.+(test|stub).*"
        }]
      ]
    }
  }
}